:root {
    --azulPrimero: rgb(64, 87, 130);
    --naranja: #cf8131;
    --blanco: #ffffff;
    --grisclaro: rgb(223, 233, 243);
    --negro: #000000;
    --azulClaro: rgb(244, 249, 255);

}

/*BOTON WHATSAPP*/
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

/* PRUEBA GIT*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 2px red; Me ayuda a ver que es lo que hace scroll horizontal, marcando lo limites */

}


html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font-size: 16px;

    /*centrar el carusel de fotos en el body*/
    .contenedor-carusel {
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 2px; */
        /*Espacio vacio que dejo para no llegar a los bordes izquierda y derecha*/
    }

    overflow-x: hidden;
    /*hago invisible la barra horizontal, ESO CREEEOOO JA!!!*/
}


/*Comienzo del HEADER, BARRA DE NAVEGACION*/
header {

    /*AHORA*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--azulPrimero);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 68px;
    /*Le doy una altura especifica al header para que el logo despues se adapte bien a
      la altura esa, y abarque todo el alto y se vea bien.
    */

}

header .navbar ul {
    /*Le quito la forma de lista a Futbol, FootGolf, Truco, Contacto*/
    list-style: none;
}

header .navbar ul li {
    /*Posiciono los botones Futbol, FootGolf, Truco, Contacto*/
    position: relative;
    float: left;
}

header .navbar ul li a {
    /*Doy estilo a Futbol, FootGolf, Truco, Contacto*/
    /* font-size: 20px; */
    /* padding: 20px; */
    color: var(--blanco);
    display: block;
    text-decoration: none;
    /*Sacar el subrayado a los Enlaces*/

    font-size: 2 rem;
    /*Tamaño de letra*/
    font-weight: regular;
    /*Texto en regular*/
    padding: 15px 20px;
}

header .navbar ul li a:hover {
    /*Doy estilo cuando pasa el Mouse sobre Futbol, FootGolf, Truco, Contacto*/
    background-color: var(--grisclaro);
    color: var(--negro);
}

header .navbar ul li ul {
    /*Posiciono el contenedor de los botones Futbol 11, Futbol 6 Monte, etc*/
    position: absolute;
    left: 0;
    width: 135px;
    background-color: rgb(64, 87, 130, .5);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;

}

header .navbar ul li:hover>ul {
    /*Le digo que cuando presione Futbol se Desplege y muestre los demas botones*/
    display: initial;
}

#menu-bar {   
    /*Para que no muestre el boton Menú mientras sea grande la pantalla*/
    display: none;
}


header label {  
    /*Doy estilo al boton Menú*/
    font-size: 20px;
    color: var(--blanco);
    cursor: pointer;
    display: none; 
    /*logro que desaparesca de la vista mientras sea grande la pantalla el boton Menú*/
}



@media(max-width:991px) {
    /*Cuando el ancho de pantalla sea MENOR a 991px, el menu se vera hacia abajo*/

    /*Para cuando a la pag se le achique su ancho*/
    /* header {  Añade mas Altura a la barra cuando se Achica la pantalla
        padding: 20px;
    } */
    header label {  
        /*Cuando sea chica la pantalla que SI muestre el boton Menú*/
        display: initial;
    } 

    header .navbar {
        /*Estilo de como quiero que se vea el menu cuando sea chica la pantalla*/
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--azulPrimero);
        display: none;
        /*Se muestra solo Menú, se ocultan los demas botones*/

        
    }

    header .navbar ul li {
        /*Posiciono los botones: Futbol, FutGolf, Truco, Contacto cuando la pantalla sea chica*/
        width: 100%;
    }

    header .navbar ul li ul {
        /*Posiciono los botones Futbol 11, Futbol 6, etc, pantalla chica*/
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        /*Color de fondo del contendor de Futbol 11, Futbol 6, etc*/
        background: var(--grisclaro);
    }

    #menu-bar:checked~.navbar {   
        /*Cuando presiono Menú, se despligan los botones principales*/
        display: initial;
    } 

    header label { 
        /*Espacio de derecha a final del ancho de pag. para que Menú no quede pegado al final del ancho*/
        padding-right: 2rem;
    }
    
}

header .logo img {
    height: 68px;
    /*ALuta del logo*/
    width: auto;
    /*ancho del logo*/

    cursor: pointer;
    /*Aparece la manito cuando paso el cursor sobre el logo*/

}

.logo {
    height: 100%;
    /*Le digo al contenedor logo que se adapte a la altura del header que es de 68px*/
}

.logo img {
    background-color: var(--blanco);
    /*color de fondo del logo*/
    clip-path: polygon(0% 0%, 77% 0, 100% 100%, 0% 100%);
    margin: 0;
    /*agrego la forma poligonal al contenedor del logo*/
    
}

/*Cuando pase el cursor por el logo del header cambia el color de fondo del logo*/
.logo img:hover {
    background-color: var(--azulClaro);
    
}

/*FINAL del HEADER, BARRA DE NAVEGACION*/



/*Comienzo del CARUSEL*/
.contenedor-carusel {
    /* margin-top: 2rem; */
    /*margen de espacio de arriba hacia abajo entre el contenedor carusel y el comienzo
    de el header*/
    position: relative;
    width: 300%;
    /*ancho fijo del contenedor del carusel*/
    height: 550px;
    /*altura del contenedor del carusel*/
    /*width: 1000px; /*ancho fijo del contenedor del carusel*/
    /* height: 700px; */
    background-color: #e0e0e0;
    /*color de fondo del carusel*/
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.66);
    /*sombra*/
    overflow: hidden;
    /*para que se vea solo la primer imagen*/


}

.carusel {
    /*contedor foto*/
    width: 300%;
    /*le digo que ocupe de ancho 300% del contenedor del carusel,
    porque tengo 3 imagenes que mostrar, cada una de las imagenes ocupara el 100%, al poner 300%,
    me permite mostrar imagen por imagen.
    De lo contrario de poner 100% me mostraria una sola imagen y no las 3 imagenes.*/
    height: auto;
    /*le digo que ocupe de alto el 100% del contenedor del carusel*/
    display: flex;

    /*De querer agregar y mostrar mas imagenes en el carusel, deno poner:
    width: (100% por cada imagen a mostrar, o sea 3 imagenes = 300%, 5 imagenes = 500%,
    10 imagenes = 1000%);*/


}

.slider-section {
    width: calc(100%/3);
    /*del 100% del contendor de fotos dividilo en 3, ya que tengo 3 fotos que mostrar*/
    height: 100%;
    /*el 100% de altura del contendor de fotos*/


    /*Si quiero mostrar 10 imagenes seria:
    width: calc(100% / 10);*/
}

.slider-section img {

    width: 100%;
    /*Tamaño img ancho que la foto ocupe el 100% del contenedor de foto*/
    height: 100%;
    /*que la foto ocupe el 100% del contenedor de foto*/
    /*object-fit: cover; /*para que las imagenes no pierdan calidad, poner esto agranda o hace
    zoom de mas a las fotos y se ven cortadas*/
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: rgba(148, 146, 146, 0.5);
    /*transparent;  (148, 146, 146, 0.5)*/
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #00000081;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
    /*para que el usuario no pueda seleccionar ese icono*/
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #ffffff;
}

@media(min-width:991px) {
    /*Mientras el ancho de pantalla SEA de 991px o Mayor se vera de la siguiente forma*/
    body {
        /*centro todo el body*/
        display: grid;
        justify-content: center;
        align-items: center; 
        /*display: flex;
        justify-content: center;*/
    }
    /*Según el ancho de pantalla se modifica la antura de las siguientes partes*/
    .contenedor-carusel {
        height: auto;

    }

    .contenedor-carusel .carusel {
        height: auto;
    }

    .contenedor-carusel .carusel .slider-section {
        height: auto;

    }
    .btn-left,
    .btn-right {
        display: flex;
        position: absolute;
        top: 35%;
        font-size: 1.5rem;
        background-color: rgba(148, 146, 146, 0.5);
        /*transparent;  (148, 146, 146, 0.5)*/
        border-radius: 50%;
        padding: 5px;
        font-weight: 600;
        cursor: pointer;
        color: #00000081;
        transform: translate(0, -50%);
        transition: .5s ease;
        user-select: none;
        /*para que el usuario no pueda seleccionar ese icono*/
    }
}

@media (min-width: 900px){
    body {
        /*centro todo el body*/
        display: grid;
        justify-content: center;
        align-items: center; 
        /*display: flex;
        justify-content: center;*/
    }
    /*Según el ancho de pantalla se modifica la antura de las siguientes partes*/
    .contenedor-carusel {
        height: auto;

    }

    .contenedor-carusel .carusel {
        height: auto;
    }

    .contenedor-carusel .carusel .slider-section {
        height: auto;

    }
    .btn-left,
    .btn-right {
        display: flex;
        position: absolute;
        top: 35%;
        font-size: 1.5rem;
        background-color: rgba(148, 146, 146, 0.5);
        /*transparent;  (148, 146, 146, 0.5)*/
        border-radius: 50%;
        padding: 5px;
        font-weight: 600;
        cursor: pointer;
        color: #00000081;
        transform: translate(0, -50%);
        transition: .5s ease;
        user-select: none;
        /*para que el usuario no pueda seleccionar ese icono*/
    }
}

@media (min-width: 480px){
    body {
        /*centro todo el body*/
        display: grid;
        justify-content: center;
        align-items: center;
        /* display: flex;
        justify-content: center; */
    }
    /*Según el ancho de pantalla se modifica la antura de las siguientes partes*/
    .contenedor-carusel {
        height: auto;
    
    }
    
    .contenedor-carusel .carusel {
        height: auto;
    }
    
    .contenedor-carusel .carusel .slider-section {
        height: auto;
    
    }
    .btn-left,
    .btn-right {
        display: flex;
        position: absolute;
        top: 35%;
        font-size: 1.5rem;
        background-color: rgba(148, 146, 146, 0.5);
        /*transparent;  (148, 146, 146, 0.5)*/
        border-radius: 50%;
        padding: 5px;
        font-weight: 600;
        cursor: pointer;
        color: #00000081;
        transform: translate(0, -50%);
        transition: .5s ease;
        user-select: none;
        /*para que el usuario no pueda seleccionar ese icono*/
    }
}

@media (min-width: 390px){
    /*Según el ancho de pantalla se modifica la antura de las siguientes partes*/
    /*centro todo el body*/
    body {
        display: grid;
        justify-content: center;
        align-items: center;
        
    }
    .contenedor-carusel {
        height: auto;
        /* width: 390px; */
    }
    
    .contenedor-carusel .carusel {
        height: auto;
    }
    
    .contenedor-carusel .carusel .slider-section {
        height: auto;
    
    }
    .btn-left,
    .btn-right {
        display: flex;
        position: absolute;
        top: 35%;
        font-size: 1.5rem;
        background-color: rgba(148, 146, 146, 0.5);
        /*transparent;  (148, 146, 146, 0.5)*/
        border-radius: 50%;
        padding: 5px;
        font-weight: 600;
        cursor: pointer;
        color: #00000081;
        transform: translate(0, -50%);
        transition: .5s ease;
        user-select: none;
        /*para que el usuario no pueda seleccionar ese icono*/
    }
}

/*SECCION QUIENES SOMOS*/
/* .contenedor-quienes-somos {
    width: 100%;
    height: auto; */

    /*Alto y ancho del contenedor de quienes somos*/

    /* display: flex;

} */

/* .img-quienes-somos {
    width: 100%;
    height: 300px;
    object-fit: cover;  */
    /*le digo que arregle la imagen al tamaño del contenedor si este no tiene las 
    dimensiones identicas, ajustando relacion de aspecto*/
/* } */

/* .trapecio { */
    /*Posicion del trapecio*/
    /* position: absolute;
    width: 70%;
    height: 300px; */

    /*Dimension del trapecio*/
    /* border-right: 0px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 300px solid var(--azulPrimero);

    opacity: 70%;
    right: 0; */
    /*mantiene del lado derecho el trapecio*/

/* } */



/* .txt-qs {
    color: #ffffff;
    font-size: 50px;
    margin-top: 15%;
    margin-right: 15%;
    right: 0;
    position: absolute;
} */

/*--------------------------OPCION FOTO RESPONSIVE*/
/* .contenedor-quienes-somos {
    width: 100%;
    height: 300px;
}

.foto-quienes-resp {
    width: auto;
    height: auto;

}

.img-quienes-somos {
    width: 100%;
    height: 100%;
} */

/*--------------------Opcion 3, FUNCIONA BIEN*/
.contenedor-quienes-somos {
    background-image: url(../Imagenes/quienes_somos-resp.png);
    background-repeat: no-repeat; /*Para evitar se repita la imagen*/
    background-size: cover; /*Que la imagen se adapte al ancho de pantalla*/
    background-position: center;
    height: 300px;
    position: relative;

    /*Posicion del Texto que esta sobre la Imagen*/
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    
}

.espacio1{
    width: 150px;
    height: 100px;
    
}

.espacio2{
    width: 150px;
    height: 100px;
    
}

.conte-txt-qs {
    width: 500px;
    height: 80px;
    text-align: center;
    
}
.txt-qs {
    color: #ffffff;
    font-size: 50px;
    cursor: pointer;
    
}

.txt-qs:hover {
    color: rgb(211, 216, 221);
    transform: translate(3px, 2px);
    text-shadow: 2px 5px 10px rgb(0, 0, 0);
    
}

@media (min-width: 991px){
    .contenedor-quienes-somos {
        display: grid;
        justify-content: center;
        grid-template-columns: 0.9fr 1fr;
        column-gap: 4rem;
        align-content: center;
        justify-items: flex-start;
    }
    .espacio2{
        width: 150px;
        height: 100px;
        grid-column: 1 / 2;
    }
    .conte-txt-qs {
        grid-column: 2 / 3;
    }    
    .txt-qs {
        margin-top: 30px;
        margin-left: 20px;
        font-size: 45px;
        width: 450px;
    }
}

@media screen and (min-width: 900px ) and (max-width: 991px ){
    /*Mientras la pantalla SEA o este entre 900px y 991px,
    se vera de la siguiente forma*/
    .contenedor-quienes-somos {
        
        display: grid;
        justify-content: center;
        grid-template-columns: 0.9fr 1fr;
        column-gap: 4rem;
        align-content: center;
        justify-items: flex-start;

        
    }
    .espacio2{
        width: 150px;
        height: 100px;
        grid-column: 1 / 2;
    }
    .conte-txt-qs {
        grid-column: 2 / 3;

    }
    .txt-qs {
        margin-top: 30px;
        margin-left: 4px;
        font-size: 45px;
        width: 450px;
    }
    
    .espacio2{
        width: 150px;
        height: 100px;
        grid-column: 1 / 2;
    }
    .conte-txt-qs {
        grid-column: 2 / 3;

    }
    .txt-qs {
        margin-top: 30px;
        margin-left: 4px;
        font-size: 45px;
        width: 450px;
    }
}


@media (min-width: 480px){
    /*Mientras la pantalla SEA de 480px o MAYOR se vera de la siguiente forma*/
    .espacio1,
    .espacio2 {
        display: none;
    }
    .contenedor-quienes-somos {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .conte-txt-qs {
        width: 300px;
        height: 120px;
    }

}

@media (min-width: 390px){
    /*Mientras la pantalla SEA de 390px o MAYOR se vera de la siguiente forma*/
    .espacio1,
    .espacio2 {
        display: none;
    }
    .contenedor-quienes-somos {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .conte-txt-qs {
        width: 300px;
        height: 120px;
    }

}
/* FIN QUIENES SOMOS*/


/* SECCION REGLAMENTO*/
.contenedor-reglamento {
    background-image: url(../Imagenes/reglamento-resp.png);
    background-repeat: no-repeat; /*Para evitar se repita la imagen*/
    background-size: cover; /*Que la imagen se adapte al ancho de pantalla*/
    background-position: center;
    height: 300px;
    position: relative;

    /*Posicion del Texto que esta sobre la Imagen*/
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
}

.conte-txt-reglamento {
    width: 500px;
    height: 90px;
    text-align: center;
    
}

.txt-reglamento {
    color: #ffffff;
    font-size: 60px;
    cursor: pointer;
    
}

.txt-reglamento:hover {
    color: rgb(211, 216, 221);
    transform: translate(3px, 2px);
    text-shadow: 2px 5px 10px rgb(0, 0, 0);
    
}

.espaci-reglamento1{
    width: 150px;
    height: 100px;
    
}

.espaci-reglamento2{
    width: 150px;
    height: 100px;
    
}

@media (max-width: 480px){
    /*Mientras la pantalla NO sea de 480px o MAYOR se vera de la siguiente forma*/
    .espaci-reglamento1,
    .espaci-reglamento2 {
        display: none;
    }
    .contenedor-reglamento {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .conte-txt-reglamento {
        justify-content: center;
        width: 150px;
        height: 100px;
    }
    .txt-reglamento {
        font-size: 30px;

    }

}


/* section .contenedor-reglamento {
    width: 100%;
    height: 300px;
    display: flex;
} */


/* .trapecio-reglamento { */
    /*Posicion del trapecio*/
    /* position: absolute;
    width: 70%;
    height: auto;    */

    /*Dimension del trapecio*/
    /* border-right: 200px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 300px solid var(--azulPrimero);

    opacity: 80%;
    left: 0;
} */

/* 
.txt_reglamento {
    color: #ffffff;
    font-size: 50px;
    margin: 15%;
    right: 0;
    position: absolute;
    z-index: 15;
}



.img-reglamento {
    width: 100%;
    height: 300px;
    object-fit: cover;  */

    /*le digo que arregle la imagen al tamaño del contenedor si este no tiene las 
    dimensiones identicas, ajustando relacion de aspecto*/

/* } */




/* SECCION DONDE NOS ENCONTRAMOS*/
.contenedor_texto {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 890px) {
    .localidades {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.localidades {
    width: 100%;
    height: auto;
    /*Dejo la altura en auto para que sea responsive cuando se achica la pantalla*/
}

.localidades .contenido-localidad {
    margin-bottom: 20px;
    /*Doy espacio entre las fotos cuando esten en columna*/
}

.localidad .contenido-localidad {
    display: flex;
    /*Activo el display flex, por default, coloca uno al lado del otro*/
    justify-content: space-evenly;
    /*Centro horizontalmente*/
    align-items: center;
    /*Alineo Verticalmente*/
    text-align: center;
    /*Centro el texto*/
}

.contenido-localidad {
    display: flex;
    /*Pongo en columna localidad y dirección*/
    flex-direction: column;
    /*Centro todo*/
    align-items: center;
}

.contenido-localidad div {
    color: var(--naranja);
    margin-top: 120px;
    /*Espacio entre NOS ACOMPAÑAN y la imagen, en pantalla grande*/
    height: 160px;
    width: 350px;
}

.contenido-localidad h2 {
    font-size: 35px;
    margin-bottom: 15px;
    /*Espacio hacia abajo desde el h2 que contiene nombre de las localidades,
      asi separar de nombre de las canchas.
    */
}

.contenido-localidad span {
    font-size: 20px;
}


/* SECCION SPONSORS*/
.nos-acompañan {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1200px) {
    .sponsores {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
    }
}

.sponsores {
    width: 100%;
    height: auto;
    /*No le establesco altura para que cuando sea Responsive me muestre bien las imagenes*/
}

.sponsores .img-sponsor {
    margin-bottom: 20px;
    /*Doy espacio entre las fotos cuando esten en columna*/
}

.sponsor .img-sponsor {
    display: flex;
    /*Activo el display flex, por default, coloca uno al lado del otro*/
    justify-content: space-evenly;
    /*Centro horizontalmente*/
    align-items: center;
    /*Alineo Verticalmente*/
}

.imgsponsor1 {
    margin-top: 20px;
    /*Espacio entre NOS ACOMPAÑAN y la imagen, en pantalla grande*/
    height: 250px;
    width: 450px;
}

.imgsponsor2 {
    margin-top: 20px;
    /*Espacio entre NOS ACOMPAÑAN y la imagen, en pantalla grande*/
    height: 250px;
    width: 450px;
}

/* TERMINA SECCION SPONSORS*/


/*SECCION FOOTER*/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--naranja);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    /*Separa horizontalmente*/
    align-items: center;
    /*Centra verticalmente*/


}

.espacio-blanco {
    width: 280px;
    height: 130px;
}

.contener-logo-footer {
    /*Espacio en la izquierda entre el contenedor del logo y contenedor de todas-redes*/
    margin-left: 30px;
    width: 160px;
    height: 100px;
}

.logo-footer {
    /*Tamaño img logo*/
    width: 100%;
    height: 100%;
}

.footer .todas-redes {
    /*Espacio en la derecha desde el final del footer hacia adentro, hacia el contendor
      de todas-redes.
    */
    margin-right: 70px;
}

.todas-redes {

    width: 240px;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contener-redes {
    margin-top: 15px;
    display: block;
}

.red {
    display: flex;
    align-items: center;
    /*Separacion hacia abajo entre cada red*/
    margin-bottom: 10px;
}

.red .img-redes {
    /*Separacion entre img logo red y link*/
    margin-right: 10px;
}

.img-redes {
    width: 25px;
    height: 25px;
}

.link-redes {
    text-decoration: none;
    color: var(--blanco);
}

@media (max-width: 880px){
    .espacio-blanco {
        width: 280px;
        height: 10px;

    }
    .footer {
        /*Medidas del footer en pantalla chica*/
        height: 250px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;


        /*Poner en columna*/
        display: grid;
        justify-content: center;
        align-items:center;
    }
    .contener-logo-footer {
        margin-left: 0px;
    }
    .logo-footer {
        /*Espacio en la izquierda*/
        margin-left: 35%;
    }
    .footer .todas-redes {
        width: 280px;
        /*Saco espacio en la derecha desde el final del footer hacia adentro, hacia el contendor
          de todas-redes que tenia en pantalla Grande.
        */
        margin-right: 0px;

        /*Espacio en la izquierda*/
        margin-left: 12%;
    }
 
    
}
/*Termina Footer*/
/*Termina el Main*/



/*Comienza pag. LOBOS*/
iframe {
    height: 800px;
    width: 50%;
}

.contenedor-iframe {
    display: block;
    justify-content: right;
    margin-left: 50px;
    margin-right: 50px;
}

.contendor-logo-liga {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.bg-liga {
    background-image: url(/Imagenes/bg-liga.png);
    background-position: center;
    background-size: cover;

} 

/* .conte-logo-lobos {
    height: 265px;
    width: 300px;
} */

.logo-liga {
    height: auto;
    width: 300px;
    margin: 100px;

}






/*Mas de una Disciplina: Masculino, Femenino*/
.contenedor-disciplinas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.contenedor-img-txt-disc{
    position: relative;
    display: inline-block;
    text-align: center;
}

.contenedor-img-txt-disc {
    position: relative;
    display: inline-block;
    text-align: center;

}

.img-dicsiplina {
    width: 620px;
}

.txt-disc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    color: var(--negro);*/
    color: #ffffff;

    font-size: 50px;

    
}


.contenedor-una-disciplina{
    position: relative;
}

.img-una-dicsiplina{
    width: 100%;
    height: auto;
}
/*Termina Disciplinas: Masculino, Femenino*/


/*SECCION DONDE ESTAMOS*/
.contenedor-donde-estamos iframe {
    width: 100%;
    height: 500px;
}
