:root {
    --azulPrimero: rgb(64, 87, 130);
    --naranja: #cf8131;
    --blanco: #ffffff;
    --grisclaro: rgb(223, 233, 243);
    --negro: #000000;
    --azulClaro: rgb(244, 249, 255);

}

/*BOTON WHATSAPP*/
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
}

/* PRUEBA GIT*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: solid 2px red*/
    /* ; Me ayuda a ver que es lo que hace scroll horizontal, marcando lo limites */

}


html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font-size: 16px;

    /*centrar el carusel de fotos en el body*/
    .contenedor-carusel {
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 2px; */
        /*Espacio vacio que dejo para no llegar a los bordes izquierda y derecha*/
    }

    /*Evita que el usuario seleccione contenido*/
    user-select: none;
    overflow-x: hidden;
    /*hago invisible la barra horizontal, ESO CREEEOOO JA!!!*/
}


/*Comienzo del HEADER, BARRA DE NAVEGACION*/
header {

    /*AHORA*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--azulPrimero);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 68px;
    /*Le doy una altura especifica al header para que el logo despues se adapte bien a
      la altura esa, y abarque todo el alto y se vea bien.
    */

}

header .navbar ul {
    /*Le quito la forma de lista a Futbol, FootGolf, Truco, Contacto*/
    list-style: none;
}

header .navbar ul li {
    /*Posiciono los botones Futbol, FootGolf, Truco, Contacto*/
    position: relative;
    float: left;
}

header .navbar ul li a {
    /*Doy estilo a Futbol, FootGolf, Truco, Contacto*/
    /* font-size: 20px; */
    /* padding: 20px; */
    color: var(--blanco);
    display: block;
    text-decoration: none;
    /*Sacar el subrayado a los Enlaces*/

    font-size: 2 rem;
    /*Tamaño de letra*/
    font-weight: regular;
    /*Texto en regular*/
    padding: 15px 20px;
}

header .navbar ul li a:hover {
    /*Doy estilo cuando pasa el Mouse sobre Futbol, FootGolf, Truco, Contacto*/
    background-color: var(--grisclaro);
    color: var(--negro);
}

header .navbar ul li ul {
    /*Posiciono el contenedor de los botones Futbol 11, Futbol 6 Monte, etc*/
    position: absolute;
    left: 0;
    width: 135px;
    /*ancho de los botones de la lista de ligas de futbol*/
    background-color: rgb(64, 87, 130, .5);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;

}

header .navbar ul li:hover>ul {
    /*Le digo que cuando presione Futbol se Desplege y muestre los demas botones*/
    display: initial;
}

#menu-bar {
    /*Para que no muestre el boton Menú mientras sea grande la pantalla*/
    display: none;
}


header label {
    /*Doy estilo al boton Menú*/
    font-size: 20px;
    color: var(--blanco);
    cursor: pointer;
    display: none;
    /*logro que desaparesca de la vista mientras sea grande la pantalla el boton Menú*/
}



/*Como se vera el MENU de 480px a 900px*/
@media (min-width: 480px) and (max-width: 900px) {

    /*Para cuando a la pag se le achique su ancho*/
    /* header {  Añade mas Altura a la barra cuando se Achica la pantalla
        padding: 20px;
    } */
    header {
        width: 100%;
    }

    header label {
        /*Cuando sea chica la pantalla que SI muestre el boton Menú*/
        display: initial;
        /*Espacio de derecha a final del ancho de pag. para que Menú no quede pegado al final del ancho*/
        /* padding-right: 6rem; */
        margin-right: 6rem;
    }

    header input {
        /* padding-right: 6rem; */
        margin-right: 6rem;
    }

    header .navbar {
        /*Estilo de como quiero que se vea el menu cuando sea chica la pantalla*/
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--azulPrimero);
        display: none;
        /*Se muestra solo Menú, se ocultan los demas botones*/


    }

    header .navbar ul li {
        /*Posiciono los botones: Futbol, FutGolf, Truco, Contacto cuando la pantalla sea chica*/
        width: 100%;
    }

    header .navbar ul li ul {
        /*Posiciono los botones Futbol 11, Futbol 6, etc, pantalla chica*/
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        /*Color de fondo del contendor de Futbol 11, Futbol 6, etc*/
        background: var(--grisclaro);
        width: 100%;
    }

    #menu-bar:checked~.navbar {
        /*Cuando presiono Menú, se despligan los botones principales*/
        display: initial;
    }

    /* header label { */
    /*Espacio de derecha a final del ancho de pag. para que Menú no quede pegado al final del ancho*/
    /* padding-right: 10rem;
    } */


}



/*Como se vera el MENU de 0px a 480px*/
@media(max-width:480px) {

    /*Para cuando a la pag se le achique su ancho*/

    header {
        width: 100%;
    }

    header label {
        /*Cuando sea chica la pantalla que SI muestre el boton Menú*/
        display: initial;

        /*Espacio de derecha a final del ancho de pag. para que Menú no quede pegado al final del ancho*/
        /* padding-right: 6rem; */
        margin-right: 3rem;
    }

    header input {
        /* padding-right: 6rem; */
        margin-right: 3rem;
    }

    header .navbar {
        /*Estilo de como quiero que se vea el menu cuando sea chica la pantalla*/
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--azulPrimero);
        display: none;
        /*Se muestra solo Menú, se ocultan los demas botones*/


    }

    header .navbar ul li {
        /*Posiciono los botones: Futbol, FutGolf, Truco, Contacto cuando la pantalla sea chica*/
        width: 100%;
    }

    header .navbar ul li ul {
        /*Posiciono los botones Futbol 11, Futbol 6, etc, pantalla chica*/
        position: relative;
        width: auto;
        /*100%;*/
    }

    header .navbar ul li ul li {
        /*Color de fondo del contendor de Futbol 11, Futbol 6, etc*/
        background: var(--grisclaro);
    }

    #menu-bar:checked~.navbar {
        /*Cuando presiono Menú, se despligan los botones principales*/
        display: initial;
    }

    /* header label { */
    /*Espacio de derecha a final del ancho de pag. para que Menú no quede pegado al final del ancho*/
    /* padding-right: 2rem;
    } */

}

header .logo img {
    height: 68px;
    /*ALuta del logo*/
    width: auto;
    /*ancho del logo*/

    cursor: pointer;
    /*Aparece la manito cuando paso el cursor sobre el logo*/

}

.logo {
    height: 100%;
    /*Le digo al contenedor logo que se adapte a la altura del header que es de 68px*/
}

.logo img {
    background-color: var(--blanco);
    /*color de fondo del logo*/
    clip-path: polygon(0% 0%, 77% 0, 100% 100%, 0% 100%);
    margin: 0;
    /*agrego la forma poligonal al contenedor del logo*/

}

/*Cuando pase el cursor por el logo del header cambia el color de fondo del logo*/
.logo img:hover {
    background-color: var(--azulClaro);

}

/*FINAL del HEADER, BARRA DE NAVEGACION*/







/*CARUSEL NUEVOOOOOO*/
.slider-box {
    max-width: 100%;
    height: 100%;

    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    overflow: hidden;

    background-position: center;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    /*position: relative; /* es solo si arriba le pongo texto a la imagen*/
}

.slider-box img {
    width: 100%;
    height: auto;
    background-position: calc(300%/3);
}

@keyframes slide {

    0% {
        margin-left: 0;
    }

    45% {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    70% {
        margin-left: -100%;
    }

    75% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }

}

@media (max-width: 480px) {
    .slider-box {
        width: 100%;
        height: auto;
        margin-top: 65px;
        margin-bottom: 0px;
    }

    .slider-box img {
        width: 100%;
        height: auto;
    }
}

/*TERMINA CARUSEL NUEVOOOO*/



/*--------------------Opcion 3, FUNCIONA BIEN*/
.contenedor-quienes-somos {
    background-image: url(../Imagenes/quienes_somos-resp.png);
    background-repeat: no-repeat;
    /*Para evitar se repita la imagen*/
    background-size: cover;
    /*Que la imagen se adapte al ancho de pantalla*/
    background-position: center;
    height: 300px;
    position: relative;

    /*Posicion del Texto que esta sobre la Imagen*/
    display: flex;
    align-items: center;
    /* justify-content: space-between; */


}

.espacio1 {
    width: 150px;
    height: 100px;
    margin-right: 60rem;
}

.conte-txt-qs {
    width: 500px;
    height: 80px;
    text-align: center;

}

.txt-qs {
    color: #ffffff;
    font-size: 50px;
    cursor: pointer;
    text-decoration: none;
}

.txt-qs:hover {
    color: rgb(211, 216, 221);
    transform: translate(3px, 2px);
    text-shadow: 2px 5px 10px rgb(0, 0, 0);

}

@media (min-width: 900px) and (max-width: 990px) {

    /*Como se vera quienes somos de 900px a 990px*/
    .espacio1 {
        width: 0px;
        height: 1px;
        margin-right: 50rem;
    }

    .conte-txt-qs {
        width: 400px;
        height: 80px;
        text-align: center;
        margin-bottom: 50px;
    }

}

@media (min-width: 780px) and (max-width: 900px) {

    /*Como se vera quienes somos de 780px a 900px*/
    .contenedor-quienes-somos {


        display: flex;
        align-items: center;
        justify-content: center;
    }

    .espacio1 {
        width: 0px;
        height: 1px;
        margin-right: 0rem;
    }

    .txt-qs {
        color: #000000;

    }

    .txt-qs:hover {
        color: var(--naranja);
        transform: translate(3px, 2px);
        text-shadow: 2px 5px 10px rgb(255, 255, 255);

    }
}

@media (max-width: 780px) {

    /*Como se vera quienes somos de 0px a 780px*/
    .contenedor-quienes-somos {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .espacio1 {
        width: 0px;
        height: 1px;
        margin-right: 0rem;
    }

    .conte-txt-qs {
        width: 300px;
        height: 80px;
        text-align: center;
        margin-bottom: 50px;
    }

    .txt-qs {
        color: #000000;

    }

    .txt-qs:hover {
        color: var(--naranja);
        transform: translate(3px, 2px);
        text-shadow: 2px 5px 10px rgb(255, 255, 255);

    }
}

.contenedor-quienessomos {

    background: url(../Imagenes/slide6.jpg);
    background-position: center;
    width: 100%;
    height: 600px;
}

.contenedor-txt-qs {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    position: absolute;
    font-weight: bold;
    transform: translateY(20%);
}

.logo-qs {
    align-items: center;
    margin-top: 130px;
    height: 150px;
    width: auto;
}

.contenedor-logo {
    justify-content: center;
    display: flex;
    margin-bottom: 0px;

}

@media (min-width: 300px) and (max-width: 900px) {

    .contenedor-txt-qs {
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        position: absolute;
        font-weight: bold;
        transform: translateY(10%);
    }

    .contenedor-quienessomos {

        background: url(../Imagenes/slide6.jpg);
        background-position: center;
        width: 100%;
        height: 600px;
    }

}

/* FIN QUIENES SOMOS*/



/*Comienzo Nos Acompañan*/
.nos-acompañan {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Como se vera Nos Acompañan de 0px a 480px*/
@media (max-width: 480px) {

    .nos-acompañan p {
        text-align: center;
        width: 350px;
        font-size: 50px;
    }
}

/*Fin Nos Acompañan*/

/* SECCION SPONSORS*/
.contenedor-sponsores {
    width: 100%;
    height: auto;
    display: flex;
    /*Activo el display flex, por default, coloca uno al lado del otro*/
    flex-direction: row;
    /*Creo columnas*/
    justify-content: space-between;
    /*Centro horizontalmente*/
    align-items: center;
    /*Alineo Verticalmente
    /*No le establesco altura para que cuando sea Responsive me muestre bien las imagenes*/

}

.sponsor {
    width: 350px;
    height: auto;

    /*Espacio arriba, abajo, derecha e izquierda */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgsponsor {
    width: 100%;
    height: 100%;
}

/*Como se veran los SPONSORS de 0px a 780px*/
@media (max-width: 780px) {
    .contenedor-sponsores {
        flex-direction: column;
        align-items: center;
    }

    .sponsor:nth-child(1) {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .sponsor:nth-child(2) {
        margin-top: 0px;
        margin-bottom: 25px;

    }

    .sponsor:nth-child(3) {
        margin-top: 10px;
        margin-bottom: 28px;
    }
}

/* TERMINA SECCION SPONSORS*/



/* SECCION NUESTROS PARTIDOS*/
.contenedor-partidos {
    background-image: url(../Imagenes/reglamento-resp.png);
    background-repeat: no-repeat;
    /*Para evitar se repita la imagen*/
    background-size: cover;
    /*Que la imagen se adapte al ancho de pantalla*/
    background-position: center;
    height: 300px;
    position: relative;

    /*Posicion del Texto que esta sobre la Imagen*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conte-txt-partido {
    width: 500px;
    height: 120px;
    text-align: center;

}

.txt-partido {
    color: #ffffff;
    font-size: 50px;
    cursor: pointer;
    text-decoration: none;
}

.txt-partido:hover {
    color: rgb(211, 216, 221);
    transform: translate(3px, 2px);
    text-shadow: 2px 5px 10px rgb(0, 0, 0);

}

.espaci-partido1 {
    /*espaci-reglamento1*/
    width: 150px;
    height: 100px;
    margin-left: 50rem;
}

@media (min-width: 900px) and (max-width: 990px) {

    /*Como se vera NUESTROS PARTIDOS de 900px a 990px*/
    .espaci-partido1 {
        width: 0px;
        height: 0px;
        margin-right: 0rem;
    }

    .conte-txt-partido {
        width: 400px;
        height: 80px;
        text-align: center;
        margin-bottom: 30px;
    }
}

/*Como se vera NUESTROS PARTIDOS de 0px a 900px*/
@media (max-width: 900px) {
    .contenedor-partidos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .conte-txt-partido {
        width: 300px;
        height: 80px;
        text-align: center;
        margin-bottom: 50px;
    }

    .txt-partido {
        color: #000000;
        /* font-size: 50px; */
        cursor: pointer;
    }

    .txt-partido:hover {
        color: var(--naranja);
        transform: translate(3px, 2px);
        text-shadow: 2px 5px 10px rgb(255, 255, 255);

    }

    .espaci-partido1 {
        /*Se desabilita este contenedor*/
        display: none;
        /* width: 0px;
        height: 0px;
        margin-right: 0rem; */
    }
}

.cont-p-p {
    height: auto;
    width: 100%;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1375%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1376%26quot%3b)'%3e%3c/rect%3e%3cpath d='M71.19 437.39L242.67 536.39L242.67 734.39L71.19 833.39L-100.29 734.39L-100.29 536.39zM585.62 140.39L757.1 239.39L757.1 437.39L585.62 536.39L414.15 437.39L414.15 239.39z' stroke='url(%26quot%3b%23SvgjsLinearGradient1377%26quot%3b)' stroke-width='2'%3e%3c/path%3e%3cpath d='M223.54 256.99L396.75 356.99L396.75 556.99L223.54 656.99L50.33 556.99L50.33 356.99zM50.33 556.99L223.54 656.99L223.54 856.99L50.33 956.99L-122.88 856.99L-122.88 656.99zM396.75 -43.01L569.96 56.99L569.96 256.99L396.75 356.99L223.54 256.99L223.54 56.99zM569.96 256.99L743.17 356.99L743.17 556.99L569.96 656.99L396.75 556.99L396.75 356.99zM396.75 556.99L569.96 656.99L569.96 856.99L396.75 956.99L223.54 856.99L223.54 656.99zM1089.59 -43.01L1262.8 56.99L1262.8 256.99L1089.59 356.99L916.38 256.99L916.38 56.99zM1262.8 256.99L1436.01 356.99L1436.01 556.99L1262.8 656.99L1089.59 556.99L1089.59 356.99zM1436.01 -43.01L1609.22 56.99L1609.22 256.99L1436.01 356.99L1262.8 256.99L1262.8 56.99z' stroke='rgba(23%2c 41%2c 63%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1375'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1376'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='220.03199999999998' y1='-220.02399999999997' x2='1219.9679999999998' y2='780.024' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1377'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}

.cont-cabecera {
    width: 100%;
    height: auto;

    background-color: orange;
    text-align: center;

    h1 {
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: var(--azulClaro);

    }
}

.cont-partidos {
    display: flex;
    height: auto;
    width: 100%;
    border-color: #ff004c;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: #000000;
    }
}

.list-p {
    text-align: center;
    align-items: center;
}

.item {
    box-sizing: border-box;
    border: 6px solid --azulClaro(255, 0, 0);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    height: 150px;
    width: 400px;
    margin: 10px;
    background-image: url(../Imagenes/p-temp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item:hover {
    border: 4px solid var(--naranja);
    transform: scale(1.05);
}

.item:active {
    transform: scale(0.95) rotateZ(1.7deg);
}



/*Termina NUESTROS PARTIDOS*/


/* SECCION DONDE NOS ENCONTRAMOS*/
.contenedor_texto {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 720px) and (max-width: 780px) {

    /*Como se vera NUESTROS PARTIDOS de 720px a 780px*/
    .contenedor_texto p {
        text-align: center;
        width: 650px;
        font-size: 50px;
    }
}

/*Como se vera Donde Nos Encontramos de 0px a 480px*/
@media (max-width: 480px) {

    .contenedor_texto p {
        text-align: center;
        width: 350px;
        font-size: 40px;
    }
}

/*Fin Donde Nos Encontramos*/


.localidades {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 0px;
}

.localidad {
    text-align: center;
}

.localidad:nth-child(1) {
    margin-left: 50px;
    margin-top: 20px;
}

.localidad:nth-child(3) {
    margin-right: 50px;
}

.contenido-localidad {
    color: var(--naranja);
}

.contenido-localidad {
    display: flex;
    /*Pongo en columna localidad y dirección*/
    flex-direction: column;
    /*Centro todo*/
    align-items: center;
}

.contenido-localidad h2 {
    font-size: 35px;
    margin-bottom: 15px;
    /*Espacio hacia abajo desde el h2 que contiene nombre de las localidades,
      asi separar de nombre de las canchas.
    */
}

/*Como se veran las LOCALIDADES de 0px a 900px*/
@media (max-width: 900px) {
    .localidades {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .localidad:nth-child(1) {
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .localidad:nth-child(2) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .localidad:nth-child(3) {
        margin-right: 0px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

}

/*Termina DONDE NOS ENCONTRAMOS, LOCALIDADES y CANCHA*/


/*SECCION FOOTER*/
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--naranja);
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.todo-footer {

    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    /*Separa horizontalmente*/
    align-items: center;
    /*Centra verticalmente*/
}

.espacio-blanco {
    width: 280px;
    height: 130px;
}

.contener-logo-footer {
    /*Espacio en la izquierda entre el contenedor del logo y contenedor de todas-redes*/
    margin-left: 25px;
    width: 160px;
    height: 100px;
}

.logo-footer {
    /*Tamaño img logo*/
    width: 100%;
    height: 100%;
}

.todo-footer .todas-redes {
    /*Espacio en la derecha desde el final del footer hacia adentro, hacia el contendor
      de todas-redes.
    */
    margin-right: 70px;
}

.todas-redes {

    width: 240px;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contener-redes {
    margin-top: 15px;
    display: block;
}

.red {
    display: flex;
    align-items: center;
    /*Separacion hacia abajo entre cada red*/
    margin-bottom: 10px;
}

.red .img-redes {
    /*Separacion entre img logo red y link*/
    margin-right: 10px;
}

.img-redes {
    width: 25px;
    height: 25px;
}

.link-redes {
    text-decoration: none;
    color: var(--blanco);
}

.copyright-style {
    justify-content: center;
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
    background-color: #cf8131;
    text-align: center;
    width: 100%;
    height: 11px;
}

/*Como se veran el FOOTER de 0px a 900px*/
@media (max-width: 900px) {
    .footer {
        height: auto;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;

        display: grid;
        justify-content: center;
    }

    .todo-footer {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .espacio-blanco {
        width: 280px;
        height: 0px;

    }

    .contener-logo-footer {
        margin-left: 0px;

        /*Posiciono el logo en la fila que quiero y no en la default*/
        grid-row: 3/4;
    }

    .logo-footer {
        /*Espacio en la izquierda*/
        margin-left: 35%;
        margin-top: 10px;
    }

    .todo-footer .todas-redes {
        width: 280px;
        /*Saco espacio en la derecha desde el final del footer hacia adentro, hacia el contendor
          de todas-redes que tenia en pantalla Grande.
        */
        margin-right: 0px;

        /*Espacio en la izquierda*/
        margin-left: 15%;

        /*Posiciono las redes en la fila que quiero y no en la default*/
        grid-row: 2/3;
    }

    .copyright-style {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

/*Termina Footer*/
/*Termina el Main*/



/*LOGOS DE CADA LIGA*/
.contendor-logo-liga {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.bg-liga {

    /*background-image: url(/Imagenes/bg-liga.png);*/

    background-image: url(../Imagenes/bg-liga2.png);
    background-position: center;
    background-size: cover;

}

/* .conte-logo-lobos {
    height: 265px;
    width: 300px;
} */

.logo-liga {
    height: auto;
    width: 300px;
    margin: 100px;

}

/*Como se veran el LOGO LIGA de 0px a 480px*/
@media (max-width: 480px) {
    .logo-liga {
        width: 300px;
        margin: 0;
    }
}

/*TERMINA LOGOS DE CADA LIGA*/

/*COMIENZA SECCION MAPA DONDE ESTAMOS*/
.contenedor-donde-estamos iframe {
    width: 100%;
    height: 500px;
}

iframe {
    height: 800px;
    width: 50%;
}

.contenedor-iframe {
    display: block;
    justify-content: right;
    margin-left: 50px;
    margin-right: 50px;
}

/*TERMINA SECCION MAPA DONDE ESTAMOS*/

/*COMIENZA: "LOGO EN CONSTRUCCION"*/
.contenedor-en-construccion {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 25px;
    color: #cf8131;

}

.logo-enconstruccion {
    margin-top: 100px;
    width: 300px;
    height: auto;
}

/*TERMINA: "LOGO EN CONSTRUCCION"*/

/*--------------------COMIENZA SECCION ESTILOS LIGAS------------------------*/

.contenedor-cont-liga {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Como se veran el INFORMACION DE NUESTRA LIGA de 0px a 480px*/
@media (max-width: 480px) {
    .contenedor-cont-liga p {
        text-align: center;
        width: 360px;
        font-size: 40px;
    }
}

.iframe-clasificados {
    width: 100%;
    height: 500px;
}


/*COMIENZA STA: SUPER TORNEO AMATEUR*/
/*COMIENZA DISCIPLINAS/CATEGORIA*/
.contenedor-una-disciplina {
    /*Espacio de separacion superior entre la section de la Liga y Disciplina*/
    margin-top: 3px;

    background-image: url(../Imagenes/Disc-masc-2.png);
    background-repeat: no-repeat;
    /*Para evitar se repita la imagen*/
    background-size: cover;
    /*Que la imagen se adapte al ancho de pantalla*/
    background-position: center;
    height: 500px;
    position: relative;

    /*Posicion del Texto que esta sobre la Imagen*/
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
}

.txt-disc {
    color: var(--blanco);
    text-align: center;
    font-size: 50px;

}

/*TERMINA DISCIPLINAS/CATEGORIA*/

/*COMIENZA SECCION REGLAMENTO*/
.contenedor-reglamento {
    /*Espacio de separacion superior entre la section DISCIPLINA y Reglamento*/
    margin-top: 3px;

    background-image: url(../Imagenes/reglamento-resp.png);
    background-repeat: no-repeat;
    /*Para evitar se repita la imagen*/
    background-size: cover;
    /*Que la imagen se adapte al ancho de pantalla*/
    background-position: center;
    height: 300px;
    position: relative;

    /*Posicion del Texto que esta sobre la Imagen*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.conte-txt-reglamento {
    width: 500px;
    height: 120px;
    text-align: center;
    margin-top: 50px;
}

.txt-reglamento {
    color: #ffffff;
    font-size: 50px;
    cursor: pointer;
    text-decoration: none;
}

.txt-reglamento:hover {
    color: rgb(211, 216, 221);
    transform: translate(3px, 2px);
    text-shadow: 2px 5px 10px rgb(0, 0, 0);

}

.espaci-reglamento1 {
    width: 150px;
    height: 100px;
    margin-left: 50rem;
}

/*Como se vera REGLAMENTO de 900px a 990px*/
@media (min-width: 900px) and (max-width: 990px) {


    .espaci-reglamento1 {
        width: 0px;
        height: 1px;
        margin-right: 0rem;
    }

    .conte-txt-reglamento {
        width: 400px;
        height: 80px;
        text-align: center;
        margin-bottom: 30px;
    }
}

/*Como se vera REGLAMENTO de 0px a 900px*/
@media (max-width: 900px) {
    .contenedor-reglamento {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .conte-txt-reglamento {
        width: 360px;
        height: 80px;
        text-align: center;
        margin-bottom: 50px;
    }

    .txt-reglamento {
        color: #000000;
        font-size: 45px;
        cursor: pointer;
    }

    .txt-reglamento:hover {
        color: var(--naranja);
        transform: translate(3px, 2px);
        text-shadow: 2px 5px 10px rgb(255, 255, 255);

    }

    .espaci-reglamento1 {
        /*Desabilito este contenedor*/
        display: none;
        /* width: 0px;
        height: 1px;
        margin-right: 0rem; */
    }


    .txt-disc {
        font-size: 45px;
    }
}

/*TERMINA SECCION REGLAMENTO*/
/*FINALIZA STA: SUPER TORNEO AMATEUR*/






/*COMIENZA PAG. LOBOS*/
/*COMIENZA DISCIPLINA/CATEGORIAS LOBOS  MASCULINO, FEMENINO*/
.contenedor-categoria {
    /* margin-top: 145px; */
    width: 100%;
    height: 700px;
    position: relative;

    margin-top: 3px;
    margin-bottom: 3px;

    /*Posiciono la section categorias*/
    display: flex;
    flex-direction: row;
    align-items: center;

}

.conte-categoria {

    height: 100%;
    width: 530px;
    /* position: none; */

    position: relative;
    display: inline-block;
    text-align: center;
}

.conte-categoria:nth-child(1) {
    margin-right: 3px;
    margin-left: 3px;
}

.conte-categoria:nth-child(2) {
    margin-right: 3px;

}

.conte-categoria:nth-child(3) {
    margin-right: 3px;
}

.img-dicisplina {
    position: relative;
    height: 100%;
    width: 100%;
}

.txt-categoria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--negro);
    font-size: 50px;
    text-align: center;
}

/*Como se veran las CATEGORIAS de 0px a 780px*/
@media (max-width: 780px) {
    .contenedor-categoria {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: .5px;
    }

    .conte-categoria {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .conte-categoria:nth-child(1) {
        /*margin-right: 3px;*/
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 1px;
    }

    .conte-categoria:nth-child(2) {
        margin-top: 0px;
        margin-bottom: 0.5px;
        margin-right: 0px;
    }

    .conte-categoria:nth-child(3) {
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .txt-categoria {
        position: absolute;
        top: 40%;

        transform: translate(-50%, -50%);
        color: var(--negro);
        font-size: 50px;
        text-align: center;
    }
}


/*Mas de una Disciplina: Masculino, Femenino*/
/* .contenedor-disciplinas {
    width: 100%;
    display: flex;
    position: relative;

}

.contenedor-una-disciplina {
    position: relative;
}


.contenedor-img-txt-disc {
    position: relative;
    display: inline-block;
    text-align: center;
} */

/*.contenedor-img-txt-disc {
    position: relative;
    display: inline-block;
    text-align: center;

}*/

/* .img-dicsiplina {
    width: 650px;
}

.img-una-dicsiplina {
    width: 100%;
    height: auto;
}

.txt-disc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
/*    color: var(--negro);*/
/* color: #ffffff;

    font-size: 50px;


} */

/*TERMINA DISCIPLINA/CATEGORIAS LOBOS  MASCULINO, FEMENINO*/
/*FINALIZA PAG. LOBOS*/




/*Footgolf*/
/*COMIENZO DEL BANNER*/
.contenedor-banner-fg {
    width: 100%;
    height: 200%;
    /* padding-top: 150px; */
    background-image: url(/Imagenes/footgolf-bg.png);
    background-repeat: no-repeat;
    /*Para evitar se repita la imagen*/
    background-size: cover;
    /*Que la imagen se adapte al ancho de pantalla*/
    background-position: center;
    height: 400px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

}

.txt-banner {
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}

/*Como se veran las CATEGORIAS de 0px a 480px*/
@media (max-width: 480px) {
    .txt-banner {
        margin-top: 30px;
        text-align: center;
    }
}

/*FINAL DEL BANNER*/

/*COMIENZA CLUBES DE GOLF*/
.contenedor-clubes-fg {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont-club {
    width: 100%;
    height: 400px;
    padding: 50px;


    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.cl1 {
    background-color: #175a84;
}

.cl2 {
    background-color: #0a6329;
}

.img_fg {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.cont-club-txt {
    width: 100%;
}

.txt-club {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

/* .cont-txt-fg{
    width: 100%;
    height: 150px;
    display: flex;
} */

/*Como se veran los CLUBES de 0px a 900px*/
@media (max-width: 900px) {
    .contenedor-clubes-fg {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*TERMINA CLUBES DE GOLF*/



/*INICIO CONTACTO*/
.espacio-formulario {
    margin-top: 100px;
    margin-bottom: 50px;
}

.formulario {
    background-color: rgb(116, 117, 124);
    /*Color de fondo/contenedor del formulario*/
    width: min(60rem, 100%);
    /*Definimos el ancho del formulario*/
    /*MIN: compara, pregunta que es mas pequeño? 60rem = 600px 
    ó 100% = 1160px de la pantalla actual, 
    como 60rem es mas chico, aplica ese ancho.

    Si miramos desde un CELU, MIN vuelve a preguntarse, que es mas pequeño? 
    600px ó el 100% = 488px de la pantalla actual, 
    aplica un ancho del 100% de la pantalla actual,
    porque 488px es mas chico que 60rem = 600px*/

    margin: 0 auto;
    /*Centro horizontalmente el formulario*/
    padding: 2rem;
    /*Espacio del contenedor hacia adentro: de arriba, de abajo, derecha e izquierda*/
    border-radius: 1rem;
    /*Redondear las esquinas del contenedor*/
}

.formulario fieldset {
    border: none;
    /*Elimino el borde del fieldset en el formulario*/
}

.formulario legend {
    /*Estilo al texto de LEGEND*/
    text-align: center;
    /*Centrar el texto horizontalmente del LEGEND*/
    font-size: 1.8rem;
    /*Tamaño de las letras*/
    text-transform: uppercase;
    /*Texto en Mayusculas*/
    font-weight: 700;
    /*Texto en Negrita*/
    margin-bottom: 2rem;
    /*Separacion entre el texto y el primer input*/
    color: var(--primario);
    /*Color de las letras*/
}

.field {
    margin-bottom: 1rem;
    /*Espacio/Separacion entre cada input*/

}

.field label {
    /*Estilo de los textos de cada input*/
    color: var(--blanco);
    /*Color del texto*/
    font-weight: bold;
    /*Texto en Negrita*/
    margin-bottom: .5rem;
    /*Separacion entre el texto y el input*/
    display: block;
    /*Pone los input uno debajo del texto*/
}

.input-text {
    /*Estilo a los inputs: Nombre, Telefono, Correo*/
    width: 100%;
    /*Que el input tome todo el ancho disponible*/
    border: none;
    /*Quitar el borde de los inputs*/
    padding: 1.5rem;
    /*Alto de los inputs*/
    border-radius: .5rem;
    /*Redondear esquinas de los inputs*/
}

.field textarea {
    /*Estilo a los input de Mensaje*/
    width: 100%;
    /*Que el input tome todo el ancho disponible*/
    height: 18rem;
    /*Altura del imput de Mensaje*/
    border-radius: .5rem;
    /*Redondear esquinas de los inputs*/
    border: none;
    /*Quitar el borde de los inputs*/
    overflow: auto;
    /*Para que si el USUARIO escribio mucho, le aparesca una barra vertical pero no
    se modifique el tamaño del contenedor de mensaje*/
    resize: none;
    /*Para que el contenedor de mensaje, el USUARIO no lo agrande y juegue*/
}

.boton {
    /*Estilo al boton*/
    background-color: rgb(53, 177, 226);
    /*Color de fondo del boton*/
    color: var(--blanco);
    /*Color del texto del boton*/
    padding: 1rem 3rem;
    /*Espacio hacia adentro del boton*/
    margin-top: 3rem;
    /*Espacio entre el parrafo de direccion y el boton contactar*/
    font-size: 20px;
    /*Tamaño de letra*/
    text-decoration: none;
    /*Quitar subrayado al texto del boton*/
    text-transform: uppercase;
    /*Poner en mayusculas el texto del boton*/
    font-weight: bold;
    /*Poner en Negrita el texto del boton*/
    border-radius: .5rem;
    /*Borde redondeado a las esquinas del boton*/
    width: 90%;
    /*Para hacer mas ancho el boton, solo en pantalla chica*/
    text-align: center;
    /*Centrar el texto del boton*/

    border: none;
    /*Quitar el borde al boton*/
}

.boton:hover {
    cursor: pointer;
    /*Que aparesca la manito en el boton Enviar también*/
}

.w-100 {
    width: 100%;
    /*Para hacer mas ancho el boton de ENVIAR, solo estando en pantalla chica*/
}

.flex {
    display: flex;
    /*Activa el flex, por default alinea horizontalmente*/
}

.alinear-derecha {
    justify-content: flex-end;
    /*Ubica a la derecha el boton enviar, en pantalla grande*/
}

@media (min-width: 768px) {
    .w-100 {
        width: auto;
        /*Para que el boton ENVIAR, en pantalla de tablet o celular, 
        el boton tome todo el ancho.
        Pero en pantalla mas grande, solo se ubique del lado derecho*/
    }
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

/* .encabezado-contacto{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    height: 150px;
    width: 100%;
    font-size: 20px;
}

.contendor_mail {
    padding-top: 50px;
    height: 300px;
    padding: 2em;
    border: 2px solid var(--naranja);
    border-radius: 6px;
}
.label-form{
    display: inline-block;
    width: 100px;
}

.contendor-secciones{
    display: flex;
}

.cont-form{
    width: 50%;
}
.cont-redes{
    display: flex box;
    width: 50%;
} */







/*Prueba formulario*/
/* .field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: #777;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
  } */